.rocket { display: inline-block; color: #e0d204; }
.rocket::before { content: "(install)"; }
.gg-rename { display: inline-block; }
.gg-rename::before { content: "Ren"; }
.gg-folder { display: inline-block; }
.gg-folder::before { content: "Opn"; }
.gg-trash { display: inline-block; }
.gg-trash::before { content: "Del"; }
.gg-arrow-down-r { display: inline-block; }
.gg-arrow-down-r::before { content: "Dwn"; }
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;	margin: 0; padding: 5px; color: #00dd00; background-color: #202124; }
.container { max-width: 800px; margin: 5px auto; padding: 0 5px;	}
p { margin-block-start: 3px; margin-block-end: 3px; }
h3 { margin: 0; padding: 10px 0; border-bottom: 1px solid #00cc00;}
table {	width: 100%; border-collapse: collapse; border-bottom: 1px solid #00cc00;}
th, td {padding: 5px; border-bottom: 1px solid #00cc00;}
th { text-align: left; }
a {	color: #e0d204;	text-decoration: none;}
a:hover { text-decoration: underline; cursor:pointer; }
button { background-color: #303134; color: #00dd00; border: 2px solid; padding: 4px 8px; border-radius: 4px; border-color: #00dd00; cursor: pointer; margin: 5px; }
button:hover { background-color: #292a2c; }
#detailsheader, #updetailsheader { justify-content: space-between; }
@media (max-width: 768px) { body { font-size: 14px; }  table { font-size: 12px; } th, td { padding: 5px; } button { font-size: 12px; padding: 6px 12px; } }
th:first-child, td:first-child { width: 65%; }
th:last-child, td:last-child { width: 100px; text-align: center; }
.float-element { position: absolute; top: 10px; right: 10px; font-size: 16px; }
.drop-area { border: 2px dashed #00dd00; padding: 3px; margin-top: 2px; display: none; }
.highlight { background-color: #303134; color: #ad007c65; }
